[tool.black]
target-version = ['py312']
skip-string-normalization = false
line-length = 120
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | examples
    | vendored
    | demos
  )/
)
'''

[tool.isort]
profile = "black"
line_length = 120
